@model List<Student>
@using AccountingSystem.Models


<!DOCTYPE html>

<html>
<head>
    <title>Students</title>
    <link href="~/css/common.css" type="text/css" rel="stylesheet"/>
    
    <link href="~/css/students.css" type="text/css" rel="stylesheet"/>
    <script src="~/js/students.js" type="text/javascript"></script>
</head>
<body>

<div id="deleteWindow">
    <img class="close" onclick="deleteStudent('none')" src="~/images/close.png">
    <h1>Вы уверены?</h1>

    <form action="~/Students/DeleteStudent">
        <input type="hidden" id="deleteId" name="Id"/>
        <button class="accept" type="submit">Принять</button>
    </form>
</div>

<div>
    <table>
        <tr>
            <th>Группа</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Количесвто задолжностей</th>
        </tr>
        @foreach (Student student in Model)
        {
            <tr>
                <td>@student.GroupNumber</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
                <td>@student.Patronymic</td>
                <td>@student.Debts</td>
                <td>
                    <form action="~/Students/Rating">
                        <input type="hidden" name="studentId" value=@student.Id/>
                        <button type="submit">Успеваемость</button>
                    </form>
                </td>
                <td>
                    <button onclick="deleteStudent('block', @student.Id)">Удалить</button>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <form action="~/Menu/Menu">
        <button type="submit">Назад</button>
    </form>
</div>

</body>
</html>